// fonts
$body_font:'Poppins', sans-serif;
$heading_font: 'Poppins', sans-serif;


// theme color
$primary_color: #E60E21;
$secondary_color: #000AF2;


//colors
$white: rgb(255, 255, 255);
$black-1: #0000;
$black-2: #3b353500;
$gray: #808080;
$greeny_blue: #52B492;
$bean_red: #F1614D;


// heading colors
$heading_color:#282623;
$heading_color2:$greeny_blue;
$heading_color3:$bean_red;


// text colors
$body_text_color: #282623;
$text_color: #515151;
$text_color-2: #333;


// border colors
$border-1: #ddd;


// bg colors
$gray_bg:#808080;
$section_bg1: #F2E7D7;


//typography
$body_font_size: 18px;

$h1_font_size: 65px;
$h2_font_size: 50px;
$h3_font_size: 45px;
$h4_font_size: 32px;
$h5_font_size: 24px;
$h6_font_size: 1.8rem;


//font weight
$font_weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
    "black": 900
);


//font line height
$body_line_height: 1.6;

$h1_line_height: 1.1;
$h2_line_height: 1.5;
$h3_line_height: 1.5;
$h4_line_height: 1.5;
$h5_line_height: 1.4;


$big_device: '(min-width: 1400px)';
$tab: '(max-width: 991px)';
$mobile:'(max-width: 767.98px)';
$wide_mobile:'only screen and (min-width: 480px) and (max-width: 767.98px)';
$extra_big_screen: 'only screen and (min-width: 1400px) and (max-width: 1680px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1441px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991.98px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767.98px)';
